body {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

header {
  padding: 50px 240px;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}

li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  color: #424242;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
}

.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

/* bannar releted style */

.bannar-conteinar {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.bannar-title {
  color: #131313;
  text-align: center;
  font-size: 4em;
  font-weight: 700;
}
.bannar-description {
  color: #727272;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.btn-primary {
  width: 180px;
  height: 64px;
  border: 0;
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  cursor:pointer;
  margin-bottom:  20px;
}

.bannar img{
  width: 100%;
}

/* teams releted style */

main{
  max-width: 1440px;
  margin: 0 auto;
}

.teams-containar{
  display: flex;
  align-items: center;
}
.teams-content-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1.5rem;
}
.teams-content{
  padding-left: 76px;
  padding-right: 76px;
}

.teams-content-title{
  font-size: 2.8rem;
}
.quick-list{
  color:#727272;
  font-weight: 500; 
}
.of-our{
  color: #131313;
font-weight: 700;
}

.text-features{
  color: #FF900E;
  font-weight: 700;
}
.teams-discription{
  color:  #727272;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}












/* responsive releted style */
@media screen and (max-width:576px) {
  header{
    padding: 20px;
  }
  nav,
  .teams-containar
  {
       flex-direction: column;
       padding:5px ;
  }
  .teams-content-img{
    grid-template-columns: 1fr;
  }
  
} 

/* tab responsive */
@media screen and (min-width:576px) and (max-width:960px) {
  header{
    padding: 5px;
  }
  
  nav,
  .teams-containar
  {
    flex-direction: column;
}


}